SOAP_Client/src/META-INF/wsdl/localhost_8080/AffableBean/pokemonInformationService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://soapService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapService/">

<xs:element name="getPokemonInfo" type="tns:getPokemonInfo"/>

<xs:element name="getPokemonInfoResponse" type="tns:getPokemonInfoResponse"/>

<xs:element name="pokemon" type="tns:pokemon"/>

<xs:complexType name="getPokemonInfo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPokemonInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:pokemon" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pokemon">
<xs:sequence>
<xs:element name="abilityI" type="xs:string" minOccurs="0"/>
<xs:element name="abilityII" type="xs:string" minOccurs="0"/>
<xs:element name="attack" type="xs:int"/>
<xs:element name="defense" type="xs:int"/>
<xs:element name="evolvesBy" type="xs:string" minOccurs="0"/>
<xs:element name="evolvesFrom" type="xs:int" minOccurs="0"/>
<xs:element name="evolvesTo" type="xs:int" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="height" type="xs:int"/>
<xs:element name="hp" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="specialAttack" type="xs:int"/>
<xs:element name="specialDefense" type="xs:int"/>
<xs:element name="speed" type="xs:int"/>
<xs:element name="total" type="xs:int"/>
<xs:element name="weight" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>